<div>
  <p>
    The Elo rating system measures the relative strength of players or teams. It
    was invented for use in chess and has since been widely applied for use in
    many sports. An example of the Elo system being used in a team sport is the
    FIFA World Ranking, which ranks international soccer teams based on their
    results against each other. Many such applications now use modified versions
    of the original Elo system.
  </p>
  <p>
    This MLB ranking uses the original Elo system. Each team is given a starting
    rating of 1500. A team's rating is adjusted after each game they play,
    depending on the outcome and the strength of their opponent. If a team with
    a low ELO rating beats a team with a high ELO rating, the ELO rating of that
    winning team will increase by more than if they beat another low-rated team.
    Conversely, if a top team loses to a weak team, the top team will see a
    larger decrease in the rating than if they had lost to another top team.
  </p>
  <p>
    For further reading on the Elo system, start
    <a href="https://en.wikipedia.org/wiki/Elo_rating_system">here</a>.
  </p>
</div>
